---
interface Props {
	label: string;
	value: string | number | undefined;
}

const { label, value } = Astro.props;
---

<div class="flex justify-between items-center">
  <span class="text-gray-600">{label}</span>
  
    <span class="text-gray-800">{value}</span>
  
</div>
