---
import Layout from "@/layouts/Layout.astro";
import { TabSwitcher } from "./components/tabSwitcher.tsx";

const monthlyExpenses = {
	rent: [
		{ amount: 1000, date: "01/2568" },
		{ amount: 1000, date: "02/2568" },
		{ amount: 1000, date: "03/2568" },
		{ amount: 1000, date: "04/2568" },
	],
	electricity: [
		{ amount: 534, date: "01/2568" },
		{ amount: 908, date: "02/2568" },
		{ amount: 233, date: "03/2568" },
		{ amount: 1000, date: "04/2568" },
	],
	water: [
		{ amount: 700, date: "01/2568" },
		{ amount: 500, date: "02/2568" },
		{ amount: 400, date: "03/2568" },
		{ amount: 800, date: "04/2568" },
	],
};
---
<Layout>
  <header class="mb-4">
    <h1 class="text-3xl font-bold text-gray-800 mb-2">วิเคราะห์</h1>
  </header>
    <TabSwitcher client:load data={monthlyExpenses}/>
</Layout>